<dialog id="<%= @id %>" class="modal" data-controller="modal" data-modal-backdrop-dismissable-value="<%= @backdrop_dismissable %>">
  <div class="modal-box">
    <% if @closable %>
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
    <% end %>
    
    <% if @title.present? %>
      <h3 class="font-bold text-lg" data-modal-target="title"><%= @title %></h3>
    <% else %>
      <h3 class="font-bold text-lg" data-modal-target="title"></h3>
    <% end %>
    
    <div class="py-4">
      <%= turbo_frame_tag @turbo_frame_id do %>
        <div class="flex items-center justify-center p-8">
          <span class="loading loading-spinner loading-lg"></span>
        </div>
      <% end %>
    </div>
  </div>
  
  <% if @backdrop_dismissable %>
    <div class="modal-backdrop blur-3xl" data-action="click->modal#close"></div>
  <% end %>
</dialog>
